@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

a {
  text-decoration: none;
}

* {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.App {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.SideBar {
  width: 300px;
  height: 100vh;
  background-color: black;
}

.Container {
  width: calc(100vw - 300px);
  height: 100vh;
  overflow-y: auto;
  background-color: #141414;
}

.header {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  height: 54px;
  padding: 5px;
  background-color: #070707;
}

.Logo {
  margin: 10px;
  width: 150px;
  margin-bottom: 50px;
}

.display {
  color: white;
  padding: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.option {
  color: #e0e0e0;
  margin: 20px;
  padding-left: 10px;
  border-left: 2px #e0e0e0 solid;
  transition: 200ms;
  font-size: 20px;
}

.option:hover {
  color: white;

  border-left: 2px white solid;
  text-shadow: 0px 0px 5px white;
  padding-left: 20px;
}
